<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/socket.io.js"></script>
    </head>
    <body>
        <h2>Time: <span id='time'></span></h2>
        <h2>Phase: <span id='phase'></span> | Counter: <span id='counter'></span></h2>
        <h3>Players: <span id='players'></span></h3>
        <h3>Observer: <span id='observer'></span></h3>
        <script>
            let socket = io('/warfare');
            //----------------------------------------------------------------
            socket.on('update', () => {
                socket.emit('get_info');
            })
            socket.on('leave_game', () => {
                socket.emit('leave_room');
                console.log('leaved');
            })
            socket.on('time', (time) => {
                document.getElementById('time').innerHTML = Math.floor(time / 1000);
            })
            socket.on('counter', (time) => {
                document.getElementById('counter').innerHTML = 30 - Math.floor(time / 1000);
            })
            socket.on('current_phase', (phase) => {
                document.getElementById('phase').innerHTML = phase;
            })
            socket.on('players', (players) => {
                document.getElementById('players').innerHTML = 'socket.emit(\'action_on\', [';
                for(let player of players) {
                    if (socket.id == player) continue;
                    let x = '{type:1,target:\"' + player + '\"},';
                    document.getElementById('players').innerHTML += x;
                }
                document.getElementById('players').innerHTML += '])';
            })
            socket.on('player', (player) => console.log(player));
            socket.on('err', (mess) => console.log(mess));
            socket.on('debug_message', (mess) => console.log(mess));
            socket.on('message', (mess) => console.log(mess))
            socket.on('spy_result', (player) => {
                console.log(player);
            })
            socket.on('debug_obs_result', (data) => {
                console.log(data)
                let x = '<br><span>' + JSON.stringify(data) + '</span>';
                document.getElementById('observer').innerHTML = x;
            })
            socket.on('game_ended', () => console.log('game_ended'))
            //----------------------------------------------------------------
            socket.emit('find_game', {
                name: 'namess'
            })
        </script>
    </body>
</html>
